<p-toolbar class="app-toolbar" [class.scrolled]="scrolled()">
  <ng-template #start>
    <a routerLink="/admin" class="brand">hidden-questions</a>
  </ng-template>
  <ng-template #end>
    <div class="navbar-actions">
      <span class="admin-greeting">Olá, {{ admin?.nome }}</span>
      <p-avatar [label]="admin?.nome?.charAt(0)?.toUpperCase() || 'A'" shape="circle" />
      <p-button icon="pi pi-cog" severity="secondary" [text]="true" [rounded]="true" pTooltip="Configurações" routerLink="/admin/configuracoes" />
      <p-button icon="pi pi-sign-out" severity="danger" [text]="true" [rounded]="true" pTooltip="Sair" (click)="logout()" />
    </div>
  </ng-template>
</p-toolbar>
